{% extends "_layout/_main.twig" %}

{% block content %}
	<h2>{{ foo }}</h2>
	<p>{{ qux }}</p>
	{% for post in posts %}
		{% include ['_includes/_tease-'~post.post_type~'.twig', '_includes/_tease.twig'] %}
	{% endfor %}
	
	{% include '_includes/_pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
